@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    background-image: url("../src/assets/moon.JPG");
    background-size:cover;
}


.header {
 background-color: #bdbcc1;
}

.opal {
color: #6a6173
;

}
hr {
    margin: 20px;
   
}

#about-me-desc {
    display: flex; 
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

#about-me-desc img {
    aspect-ratio: 6/9;
    border-radius: 1000px;
    
}

#about-me-desc p {
    flex: 0 0 100%;
}

.contact-me-style {
    margin: 0 20px;
    color: #fff;
}

.svg-container {
    text-align: -webkit-center;
    margin-top: 50px;

    display: flex;
    justify-content: center;
}

.svg-container svg {
    height: auto;
    width: 45px    
}

.carousel-style {
    padding: 25px;
}

.links {
    justify-content: center;
}
.deployed-github {
    display: flex;
    justify-content:center;
}
.deployed-github a:nth-child(1){
    margin-right: 5px;
}

.deployed-github a:nth-child(2){
    margin-left: 5px;
}

h1 {
    font-size: 2em;
    color: #f3f2f0;
  }


.contact-text {
    font-size: 1.5em;
    color: #f3f2f0;
    
}


